<!--<section>-->
    <!--<div class="navbar-header">-->
        <!--<a class="navbar-brand" href="#">Auth0 - Angular 2</a>-->
        <!--<button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>-->
        <!--<button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>-->
    <!--</div>-->
<!--</section>-->

<!--<section *ngIf="auth.authenticated()">-->

<nav class="navbar navbar-dark bg-inverse m-b-2">
    <div class="pull-xs-left">
        <h5>
            <img src="assets/img/ww1otd.png" alt="" width="50">
            World War One on This Day
        </h5>
    </div>
    <div class="pull-xs-right">
        <div class="text-xs-center pull-left" *ngIf="feed.today">
            {{feed.today}} / {{feed.yesteryear}}
        </div>
        <div class="pull-xs-right">
            <h5 *ngIf="!feed.today">lest we forget</h5>
            <div *ngIf="feed.today">
                <button id="sad" class="btn" (click)="storeAndDownload()">copy text & download img</button>
                <button class="btn" (click)="store()">copy text</button>
                <!--<button class="btn" (click)="load()">reload</button>-->
            </div>
        </div>
    </div>
</nav>

<div class="container" *ngIf="!feed.today && !err">
    <h5 class="text-xs-center">Loading...</h5>
    <progress class="progress progress-striped progress-animated" value="100" max="100"></progress>
</div>

<div class="container" *ngIf="err">
    {{err}}
</div>



<app-feed-card *ngIf="feed.today && !err" [feed]="feed" ></app-feed-card>


