<div class="container">
  <div class="imgPlace">
    <a class="downloadImg" [href]="feed.imgSrc" [download]="feed.filename"><img [src]="feed.imgOrigSrc" alt=" "></a>
  </div>
  <article>
    <h4 class="title">
      Diary for {{feed.yesteryear}}
    </h4>
    <div [innerHtml]="feed.content" class="e2e-trusted-html"></div>
    <h5>Picture</h5>
    <p>{{feed.imgText}}</p>
    <span>#ww1onthisday</span>
  </article>
  <hr>
  <div>
    Original article: <a href="{{feed.link}}" target="_blank">{{feed.link}}</a> <small>(pub. {{feed.pubDate}})</small>
  </div>
</div>
