/* You can add global styles to this file, and also import other style files */

.imgPlace {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.title {
  margin-bottom: 30px;
}
